@{
    ViewBag.Title = "About";
}
<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->

<div class="jumbotron">
    <h1></h1>
    <img src="~/Content/Images/Photo 2.jpg" alt="About Image" style="width:1012px;height:500px;">
</div>

<div class="panel">
    <div class="panel-body">
        <h1>About Us</h1>
        <p>
            An Airline Company who has provided affordable Flights to Customers' from Europe, Middle East, United States and Asia.
            Our aim is to give customers' convenience, affordablity and comfort with our flights.
        </p>
        </div>
</div>