@{
    ViewBag.Title = "Contact";
}
<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->

<div class="jumbotron">
    <h1></h1>
    <img src="~/Content/Images/Photo 4.jpg" alt="Contact Image" style="width:1012px;height:500px;">
</div>

<<div class="panel">
    <div class="panel-body">
        <h1>Contact</h1>
        <h4>Address & Contact</h4>
        <address>
            Boryspil'<br />
            Kyivs'ka oblast, Ukraine, 08307<br />
            <abbr title="Phone">Phone: +300 00 000 0000</abbr>
        </address>

        <address>
            <strong>Customer Support:</strong>   <a href="">EducationPurposeCS@edutest.com</a><br />
            <strong>Sales:</strong> <a href="">EducationPurposeSls@edutest.com</a><br />
            <strong>Marketing:</strong> <a href="">EducationPurposeMkt@edutest.com</a>
        </address>

    </div>
    </div>
