@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Register with us to Book a Flight.</p>
    <img src="~/Content/Images/Photo 1.jpg" alt="Home Image" style="width:1012px;height:500px;">
</div>

<div class="panel">
    <div class="panel-body">
        <div class="col-md-4"> <!--col-md-4-->
            <h2>Enjoy Domestic and International Flights</h2>
            <p>
                Flights to Europe, Middle East, United States and Asia.
            </p>
       </div>
        <div class="col-md-4">
            <h2>Try out the Flight Booking Online.</h2>
            <p>Register an Account and Book a Flight with us without having to purchase ticket from our counters.</p>
            <p><a class="btn btn-default" href="http://localhost:55510/UserRt/UserAddEdit">Register &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Already Registered?</h2>
            <p>Got an Account with us? What are you waiting for? Login and Book a Flight with us.</p>
            <p><a class="btn btn-default" href="http://localhost:55510/UserLogin/UserLoginWeb">Login &raquo;</a></p>
        </div>
    </div>
</div>