<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e47342ce-5cb3-4e3b-9b8a-4f197053322e/resourceGroups/uiacloudweb2017_WA/providers/Microsoft.Web/sites/uiacloudweb2017</ResourceId>
    <ResourceGroup>uiacloudweb2017_WA</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://uiacloudweb2017.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>uiacloudweb2017.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>uiacloudweb2017</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$uiacloudweb2017</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UserRtDb" Order="1" Enabled="False">
          <Destination Path="Data Source=webcloudsvr.database.windows.net;Initial Catalog=WebCloudDB;Persist Security Info=True;User ID=joseph;Password=2017WC@@!uiawaMA" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Webddac2017.Models.UserRtDb, Webddac2017" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UserBkDb" Order="2" Enabled="False">
          <Destination Path="Data Source=webcloudsvr.database.windows.net;Initial Catalog=WebCloudDB;Persist Security Info=True;User ID=joseph;Password=2017WC@@!uiawaMA" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Webddac2017.Models.UserBkDb, Webddac2017" MigrationConfiguration="Webddac2017.Migrations.Configuration, Webddac2017" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="UserBkDb-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.UserFbkDb.csdl|res://*/Models.UserFbkDb.ssdl|res://*/Models.UserFbkDb.msl;provider=System.Data.SqlClient;provider connection string="Data Source=webcloudsvr.database.windows.net;Initial Catalog=WebCloudDB;Persist Security Info=True;User ID=joseph;Password=2017WC@@!uiawaMA"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="UserRtDb-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.UserRtDb.csdl|res://*/Models.UserRtDb.ssdl|res://*/Models.UserRtDb.msl;provider=System.Data.SqlClient;provider connection string="Data Source=webcloudsvr.database.windows.net;Initial Catalog=WebCloudDB;Persist Security Info=True;User ID=joseph;Password=2017WC@@!uiawaMA"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>