
@{
    Layout = null;
    if(Session["username"] == null) // redirects no username key in
    {
        Response.Redirect("~/UserLogin/UserLoginWeb");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserInter</title>
</head>
<body>
    <div> 
        <h1>Dashboard</h1>
        <h3>Username : @Session["userName"].ToString()</h3>
        <a href="@Url.Action("Logout", "UserLogin")">Logout</a>
    </div>
</body>
</html>
